USE [master]
GO
/****** Object:  Database [Scaneados]    Script Date: 6/26/2026 8:42:26 AM ******/
CREATE DATABASE [Scaneados]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Scaneados', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Scaneados.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Scaneados_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Scaneados_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Scaneados].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Scaneados]
GO
/****** Object:  User [IIS APPPOOL\GestionDocScaneados]    Script Date: 6/26/2026 8:42:26 AM ******/
CREATE USER [IIS APPPOOL\GestionDocScaneados] FOR LOGIN [IIS APPPOOL\GestionDocScaneados] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 6/26/2026 8:42:26 AM ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\GestionDocScaneados]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\GestionDocScaneados]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
/****** Object:  Table [dbo].[Bodegas]    Script Date: 6/26/2026 8:42:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bodegas](
	[IdBodega] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bodegas] PRIMARY KEY CLUSTERED 
(
	[IdBodega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carteras]    Script Date: 6/26/2026 8:42:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carteras](
	[id] [int] NOT NULL,
	[IdBodega] [int] NOT NULL,
	[Codigo] [nvarchar](10) NOT NULL,
	[Cartera] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Carteras] PRIMARY KEY CLUSTERED 
(
	[IdBodega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuraciones]    Script Date: 6/26/2026 8:42:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuraciones](
	[ConfiguracionId] [int] IDENTITY(1,1) NOT NULL,
	[Producto] [nvarchar](100) NOT NULL,
	[Endpoint] [nvarchar](max) NULL,
	[EndpointVerificacion] [nvarchar](max) NULL,
	[ClaveCredencial] [nvarchar](max) NULL,
	[ValorAdicional] [nvarchar](max) NULL,
	[Prompt] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaActualizacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Configuraciones] PRIMARY KEY CLUSTERED 
(
	[ConfiguracionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Configuraciones_Producto] UNIQUE NONCLUSTERED 
(
	[Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentosProcesados]    Script Date: 6/26/2026 8:42:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentosProcesados](
	[DocumentoProcesadoId] [bigint] IDENTITY(1,1) NOT NULL,
	[FechaProcesamientoId] [int] NOT NULL,
	[NombreArchivo] [nvarchar](260) NOT NULL,
	[Soporte] [nvarchar](100) NULL,
	[IdPaciente] [int] NULL,
	[Procesado] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[IdBodega] [nvarchar](100) NULL,
	[IdCartera] [nvarchar](100) NULL,
	[FechaFactura] [datetime2](0) NULL,
 CONSTRAINT [PK_DocumentosProcesados] PRIMARY KEY CLUSTERED 
(
	[DocumentoProcesadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FechasProcesamiento]    Script Date: 6/26/2026 8:42:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FechasProcesamiento](
	[FechaProcesamientoId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaProcesamiento] [date] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_FechasProcesamiento] PRIMARY KEY CLUSTERED 
(
	[FechaProcesamientoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FechasProcesamiento_Usuario_Fecha] UNIQUE NONCLUSTERED 
(
	[UsuarioId] ASC,
	[FechaProcesamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogsDiarios]    Script Date: 6/26/2026 8:42:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogsDiarios](
	[LogDiarioId] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaProcesamiento] [date] NOT NULL,
	[CantidadProcesados] [int] NOT NULL,
	[NoProcesados] [int] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaActualizacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_LogsDiarios] PRIMARY KEY CLUSTERED 
(
	[LogDiarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LogsDiarios_Usuario_Fecha] UNIQUE NONCLUSTERED 
(
	[UsuarioId] ASC,
	[FechaProcesamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 6/26/2026 8:42:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](100) NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_NombreUsuario] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_DocumentosProcesados_FechaProcesamientoId]    Script Date: 6/26/2026 8:42:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_DocumentosProcesados_FechaProcesamientoId] ON [dbo].[DocumentosProcesados]
(
	[FechaProcesamientoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_DocumentosProcesados_FechaProcesamientoId_NombreArchivo]    Script Date: 6/26/2026 8:42:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_DocumentosProcesados_FechaProcesamientoId_NombreArchivo] ON [dbo].[DocumentosProcesados]
(
	[FechaProcesamientoId] ASC,
	[NombreArchivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LogsDiarios_UsuarioId_Fecha]    Script Date: 6/26/2026 8:42:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_LogsDiarios_UsuarioId_Fecha] ON [dbo].[LogsDiarios]
(
	[UsuarioId] ASC,
	[FechaProcesamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Configuraciones] ADD  CONSTRAINT [DF_Configuraciones_FechaCreacion]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Configuraciones] ADD  CONSTRAINT [DF_Configuraciones_FechaActualizacion]  DEFAULT (sysdatetime()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[DocumentosProcesados] ADD  CONSTRAINT [DF_DocumentosProcesados_FechaCreacion]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[FechasProcesamiento] ADD  CONSTRAINT [DF_FechasProcesamiento_FechaCreacion]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[LogsDiarios] ADD  CONSTRAINT [DF_LogsDiarios_CantidadProcesados]  DEFAULT ((0)) FOR [CantidadProcesados]
GO
ALTER TABLE [dbo].[LogsDiarios] ADD  CONSTRAINT [DF_LogsDiarios_NoProcesados]  DEFAULT ((0)) FOR [NoProcesados]
GO
ALTER TABLE [dbo].[LogsDiarios] ADD  CONSTRAINT [DF_LogsDiarios_FechaCreacion]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[LogsDiarios] ADD  CONSTRAINT [DF_LogsDiarios_FechaActualizacion]  DEFAULT (sysdatetime()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_FechaCreacion]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Carteras]  WITH CHECK ADD  CONSTRAINT [FK_Carteras_Bodegas] FOREIGN KEY([IdBodega])
REFERENCES [dbo].[Bodegas] ([IdBodega])
GO
ALTER TABLE [dbo].[Carteras] CHECK CONSTRAINT [FK_Carteras_Bodegas]
GO
ALTER TABLE [dbo].[DocumentosProcesados]  WITH CHECK ADD  CONSTRAINT [FK_DocumentosProcesados_FechasProcesamiento] FOREIGN KEY([FechaProcesamientoId])
REFERENCES [dbo].[FechasProcesamiento] ([FechaProcesamientoId])
GO
ALTER TABLE [dbo].[DocumentosProcesados] CHECK CONSTRAINT [FK_DocumentosProcesados_FechasProcesamiento]
GO
ALTER TABLE [dbo].[FechasProcesamiento]  WITH CHECK ADD  CONSTRAINT [FK_FechasProcesamiento_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[FechasProcesamiento] CHECK CONSTRAINT [FK_FechasProcesamiento_Usuarios]
GO
ALTER TABLE [dbo].[LogsDiarios]  WITH CHECK ADD  CONSTRAINT [FK_LogsDiarios_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[LogsDiarios] CHECK CONSTRAINT [FK_LogsDiarios_Usuarios]
GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarDocumentoProcesado]    Script Date: 6/26/2026 8:42:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_RegistrarDocumentoProcesado]
    @NombreUsuario nvarchar(100),
    @FechaProcesamiento date,
    @NombreArchivo nvarchar(260),
    @Soporte nvarchar(100) = NULL,
    @IdPaciente int = NULL,
    @Procesado bit
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UsuarioId int;
    DECLARE @FechaId int;

    SELECT @UsuarioId = UsuarioId
    FROM dbo.Usuarios
    WHERE NombreUsuario = @NombreUsuario;

    IF @UsuarioId IS NULL
    BEGIN
        INSERT INTO dbo.Usuarios (NombreUsuario)
        VALUES (@NombreUsuario);

        SET @UsuarioId = SCOPE_IDENTITY();
    END

    SELECT @FechaId = FechaProcesamientoId
    FROM dbo.FechasProcesamiento
    WHERE UsuarioId = @UsuarioId
      AND FechaProcesamiento = @FechaProcesamiento;

    IF @FechaId IS NULL
    BEGIN
        INSERT INTO dbo.FechasProcesamiento (UsuarioId, FechaProcesamiento)
        VALUES (@UsuarioId, @FechaProcesamiento);

        SET @FechaId = SCOPE_IDENTITY();
    END

    INSERT INTO dbo.DocumentosProcesados
    (
        FechaProcesamientoId,
        NombreArchivo,
        Soporte,
        IdPaciente,
        Procesado
    )
    VALUES
    (
        @FechaId,
        @NombreArchivo,
        @Soporte,
        @IdPaciente,
        @Procesado
    );
END
GO
USE [master]
GO
